<!-- Describe task in general -->

<p>
    给您一个字符串，其中所有字母的大小写相同。该字符串可以
    包括相邻的字母 - 两个相同的字母在一起（"aa"、"bb "等）。
    在这个任务中，您的任务是删除这两个字母。如果在删除
    如果在删除一对字母后又出现了新的字母，也要将其删除！每一对字母都应从字符串中删除
    直到一个都不剩。祝您好运
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>

<p>
    <strong>示例：</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>