<!-- Describe task in general -->

<p>
    Тобі дано рядок, у якому всі літери в одному регістрі. Цей рядок може містити
    суміжні літери - дві однакові літери поряд ("aa", "bb" і т.д.).
    Твоє завдання у цій місії - видаляти обидві суміжні літери. Якщо після видалення
    пари виникне нова - її також видали! Кожна така пара повинна бути видалена із
    рядка, допоки не лишиться жодної. Удачі!
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Рядок (str{% if is_js %}ing{% endif %}).
</p>

<p>
    <strong>Вихідні дані:</strong> Рядок (str{% if is_js %}ing{% endif %}). 
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>