<!-- Describe task in general -->

<p>
    Вам задано рядок, у якому всі літери мають однаковий регістр. Цей рядок може містити
    містити сусідні літери - дві однакові літери разом ("aa", "bb" і т.д.).
    Ваша задача у цій місії - видалити обидві ці літери. Якщо після видалення
    однієї пари з'являється нова - видаліть і її! Кожну таку пару слід видаляти
    з рядка до тих пір, поки не залишиться жодної. Щасти вам!
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>