<!-- Describe task in general -->

<p>
    On vous donne une chaîne de caractères dont toutes les lettres sont en majuscules et minuscules. Cette chaîne peut
    inclure des lettres adjacentes, c'est-à-dire deux lettres identiques ("aa", "bb", etc.).
    Votre tâche dans cette mission est de supprimer ces deux lettres. Si, après avoir supprimé une paire de lettres, une nouvelle apparaît, supprimez-la
    une paire, une nouvelle apparaît, supprimez-la également! Chaque paire doit être retirée de la chaîne jusqu'à ce qu'il n'en reste plus aucune
    jusqu'à ce qu'il n'en reste plus aucune. Bonne chance!
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Chaîne <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Chaîne <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>

<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>