<!-- Describe task in general -->

<p>
    Sie erhalten eine Zeichenfolge, bei der alle Buchstaben gleich groß sind. Diese Zeichenfolge könnte
    benachbarte Buchstaben enthalten - zwei gleiche Buchstaben zusammen ("aa", "bb" usw.).
    Ihre Aufgabe in dieser Mission ist es, diese beiden Buchstaben zu entfernen. Wenn nach dem Entfernen
    ein Paar entfernt wurde, erscheint ein neues - entfernen Sie es ebenfalls! Jedes dieser Paare sollte entfernt werden
    aus der Zeichenkette entfernen, bis kein Paar mehr übrig ist. Viel Glück!
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Zeichenkette <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>

<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>