<!-- Describe task in general -->

<p>
    Otrzymują Państwo ciąg znaków, w którym wszystkie litery są tej samej wielkości. Ten ciąg może
    zawierać sąsiadujące litery - dwie takie same litery razem ("aa", "bb" itp.).
    Państwa zadaniem w tej misji jest usunięcie obu tych liter. Jeśli po usunięciu
    jednej pary pojawi się nowa - proszę ją również usunąć! Każda taka para powinna zostać usunięta
    z ciągu, aż nie pozostanie żadna. Powodzenia!
</p>

<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>

<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>